@layout('main')

@section('content')
<section class="hero">

    <div class="hero-image"></div>

    <div class="hero-text">
        <h1>Mix your own Matcha.</h1>
        <p>Kreiere deine persönliche Mischung mit nur wenigen Klicks.</p>
        <a href="/produkte" class="btn-main">Jetzt starten</a>
    </div>

</section>
@endsection