<!DOCTYPE html>
<html>
  <head>
    <title>Mixcha</title>
  </head>
  <body>
    <h1>Willkommen bei Mixcha 🍵</h1>
    <p>Hier kannst du deinen eigenen Matcha mixen!</p>
    <p>Hallo hier ist Florian</p>
  </body>
</html>