<!doctype html>
<html lang="de">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Login – Mixcha</title>

  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/login.css">
</head>

<body>
  @include('pages/headerfooter/header')

  <main class="login-container">
    <!-- LOGIN-INHALT -->
  </main>

  @include('pages/headerfooter/footer')
</body>
</html>